{% extends 'base.html' %}
{% block body %}
<div class="container">
    <a href="/new/post" class="btn btn-lg btn-primary btn-block" style="margin: 2% 0;">New</a>
    {% for post in posts %}
    <div class="well well-lg">
        <h2>{{ post.title }}</h2>
        <a href="/post/{{post.key.urlsafe()}}" data-placement="right" data-toggle="tooltip" rel="tooltip" title="{{ post.modified_at }}">
            {{ post.modified_at | pretty_time }}
        </a>

        <p>{{ post.body | render_markdown }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}